* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
}

.title {
    font-size: 106px;
    color: #E36363;
    width: 505px;
    height: 147px;
}

.logo {
    width: 155px;
    height: 155px;
    margin: 0 auto 20px auto;
}

.container {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input:focus {
    border-color: #E16C6C;
    outline: none;
}

button {
    background-color: #E16C6C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #af5555;
}

.error-message {
    color: red;
    margin-top: 15px;
}

a {
    color: #E16C6C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
